

<section>
    <div class="container mt-4">
        <h3>Edit product</h3>
    </div>
    <div class="container mt-4">
        
        <div class="row">
            <div class="col-md-6">
                <form action="/admin/edit-product/{{product._id}}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="Name" class="form-control" value="{{product.Name}}" placeholder="Product Name">
                    </div>
                    <div class="form-group">
                        <label for="name">Category</label>
                        <input type="text" name="Category" value="{{product.Category}}" class="form-control" placeholder="Product Category">
                    </div>
                    <div class="form-group">
                        <label for="name">Description</label>
                        <input type="text" name="Description" value="{{product.Description}}" class="form-control" placeholder="Product Description">
                    </div>

                    <div class="form-group">
                        <label for="name">Price</label>
                        <input type="text" name="Price" value="{{product.Price}}" class="form-control" placeholder="Price">
                    </div>

                    <div>
                        <img src="/product-images/{{product._id}}.jpg" class=""alt="" style="width: 200px; height: auto" id="imgView" class="pt-3">
                    </div>


                    <div class="form-group">
                        <label for="name">Image</label>
                        <input type="file" name="Image" class="form-control" placeholder="Product Image" onchange="viewImage(event)">
                    </div>
                    
                    <button type="submit" class="btn btn-success">Submit</button>
                    </form>
            </div>
        </div>
    </div>
</section>

<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>